/*.wrapper{

background:#ddd url('../img/subheading.jpg') no-repeat center center;
background-size:cover;

}*/


.nav-tabs{

  border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}

.about-section .nav-item .nav-link,
.about-section .nav-item .nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

/*.about .nav-item .nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #e74c3c ;
}*/



.about-section h1{
    color: #fff;
    position: relative;
    z-index: 3;
}
.about-section h6, .about-section h6 a{
    color: #fff;
    position: relative;
    z-index: 3;
}
.about-section.img-bg{
    background-image: url('../img/subheading.jpg');
    background-size: cover;

}
.tab-content{
  background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #e74c3c;
    border-bottom:5px solid #e74c3c;
    padding:30px 25px;
}

.about-section .nav-item .nav-link:hover,
.about-section .nav-item .nav-link:focus
{
  border: none;
    background: #e74c3c;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}