@charset "UTF-8";
#mainNav {
  min-height: 56px;
  background-color: transparent; }
  #mainNav .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem; }
    #mainNav .navbar-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='3' stroke-linecap='square' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
    #mainNav .navbar-toggler:focus {
      outline: none; }
  #mainNav .navbar-brand {
    padding: .5rem 0; }
  #mainNav .navbar-nav .nav-item:hover {
    color: fade(white, 100%);
    color: white;
    outline: none;
    background-color: transparent; }
  #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: #161616; }

/*  SP スマホ only  */
@media screen and (max-width: 992px) {
  #mainNav .navbar-nav .border-top-item {
    border-top: 2px solid #395baa; }
  #mainNav .navbar-nav .depth0 {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #e3eafa; }
  #mainNav .navbar-nav .depth1 {
    font-weight: normal;
    font-size: 1rem;
    line-height: 0.9;
    color: #bccdf3; }
  #mainNav .navbar-nav .social .fab {
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 0.9;
    color: #bccdf3; }
  #mainNav .navbar-nav .nav-language .nav-link {
    font-weight: normal;
    font-size: .9rem;
    line-height: 0.9;
    color: #bccdf3; }
  #mainNav .navbar-nav .nav-language .language-item {
    font-weight: normal;
    font-size: .9rem;
    line-height: 0.9;
    color: #bccdf3; }
  #mainNav .language-item + .language-item::before {
    content: "/";
    margin-left: .2em;
    margin-right: .2em; } }
/*breakpoint and up - mega dropdown styles*/
@media screen and (min-width: 992px) {
  /*remove the padding from the navbar so the dropdown hover state is not broken*/
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgba(23, 54, 128, 0.2); }
    .navbar .nav-item {
      padding: 0rem;
      margin: 0 .25rem; }
    .navbar .dropdown {
      position: static; }
    .navbar .dropdown-menu {
      /*  height of nav-item  */
      top: 64px;
      display: block;
      visibility: hidden;
      opacity: 0.9;
      transition: visibility 0s, opacity 0.3s linear;
      border: none;
      background-color: rgba(23, 54, 128, 0.5); }
    .navbar .dropdown-menu-right {
      width: 30rem; }
    .navbar .dropdown-menu-left {
      width: 20rem; }
    .navbar .dropdown-menu .border-right-item {
      border-right: 2px solid rgba(23, 54, 128, 0.5); }
    .navbar .dropdown-menu .border-bottom-item {
      border-bottom: 0.25rem solid #1c50c7; }
    .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
      display: block;
      visibility: visible;
      opacity: 1;
      transition: visibility 0s, opacity 0.3s linear; }

  /*remove the padding from the nav-item and add some margin to give some breathing room on hovers*/
  /* makes the dropdown full width  */
  /* shows the dropdown menu on hover */
  #mainNav {
    transition: background-color 0.5s ease-in-out; }
    #mainNav .nav-link {
      transition: none;
      padding: 1.2rem 1.5rem;
      color: #e3eafa; }
      #mainNav .nav-link:hover {
        color: #fff; }
      #mainNav .nav-link:active {
        color: #e3eafa; }
    #mainNav.navbar-shrink .nav-link:hover {
      color: #e3eafa; }
    #mainNav.navbar-shrink .nav-link:active {
      color: #FFF; }
    #mainNav.navbar-shrink .nav-link.active {
      color: #FFF;
      outline: none;
      border-bottom: 0.25rem solid #1c50c7; } }
/*  @media (min-width: 992px) {
    #mainNav {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: none;
      background-color: transparent;
      transition: background-color 0.3s ease-in-out; }


 }*/
.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(227, 234, 250, 0.01) 0%, rgba(7, 18, 41, 0.1) 75%, #071229 99%), linear-gradient(to bottom, rgba(7, 18, 41, 0.6) 0%, transparent 17%, transparent), url("../img/mv-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; }
  .masthead h1 {
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
  .masthead h2 {
    max-width: 13rem;
    font-size: .6rem; }
  .masthead #masthead-arrow a {
    padding-top: 60px; }
  .masthead #masthead-arrow a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box; }
  .masthead .arrow a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s; }
  .masthead .arrow a:hover {
    opacity: .5; }
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0); }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px); }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0); } }
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0); }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px); }
  40% {
    transform: rotate(-45deg) translate(0, 0); } }
  @media (min-width: 768px) {
    .masthead h1 {
      font-size: 4rem;
      line-height: 4rem; }
    .masthead h2 {
      max-width: 30rem;
      font-size: 0.7rem; } }
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
      padding: 0; }
      .masthead h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem; }
      .masthead h2 {
        max-width: 43rem;
        font-size: 1rem; } }

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0; }

.btn-primary {
  background-color: #1c50c7; }
  .btn-primary:hover {
    background-color: #163e9a; }
  .btn-primary:focus {
    background-color: #163e9a;
    color: white; }
  .btn-primary:active {
    background-color: #133584 !important; }

.news-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, #071229 0%, rgba(7, 18, 41, 0.9) 75%, rgba(7, 18, 41, 0.8) 100%); }
  .news-section .newpost-title {
    color: #fff;
    text-align: left;
    position: relative;
    line-height: 1.5;
    overflow: hidden; }
    .news-section .newpost-title::after {
      content: "";
      display: inline-block;
      bottom: .5ex;
      left: .5ex;
      background-color: #fff;
      margin-right: -100%;
      width: 100%;
      height: 2px;
      position: relative;
      transition: all 0.3s ease 0s; }
    .news-section .newpost-title:hover::after {
      left: 2ex; }
  .news-section .post p {
    color: #e3eafa; }
  .news-section .post span {
    color: #727272;
    display: block; }

.notes-section {
  padding: 10rem 0; }
  .notes-section .featured-text {
    padding: 2rem; }

.notes-section .notes-text {
  padding: 3rem;
  font-size: 90%; }

/* tab-swiper */
.notes-section {
  /* Decorations */ }
  .notes-section .notes-card > .row {
    overflow-x: auto;
    white-space: nowrap; }
  .notes-section .notes-card > .row > .col-12 + .col-sm-6 {
    display: inline-block;
    float: none;
    height: 400px;
    max-width: 250px; }
  .notes-section .row > .col-12 {
    color: #fff;
    font-size: 48px;
    padding-bottom: 20px;
    padding-top: 18px;
    width: 90%;
    max-width: 90%; }
  .notes-section .col-sm-6:nth-child(3n+1) {
    background: #c69; }
  .notes-section .col-sm-6:nth-child(3n+2) {
    background: #9c6; }
  .notes-section .col-sm-6:nth-child(3n+3) {
    background: #69c; }

@media (min-width: 992px) {
  .notes-section .notes-text {
    padding: 5rem; }
    .notes-section .notes-text hr {
      border-color: #1c50c7;
      border-width: .25rem;
      width: 30%; }

  .notes-section .project {
    object-fit: cover;
    height: 420px;
    width: 85%;
    width: auto;
    margin: auto; }

  .notes-section .notes-img {
    object-fit: cover;
    height: 420px;
    width: 85%;
    width: auto;
    margin: auto; } }
#wrapper > .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212931;
  background: linear-gradient(to bottom, rgba(7, 18, 41, 0.4) 0%, rgba(7, 18, 41, 0.8) 75%, #071229 99%), linear-gradient(to bottom, rgba(7, 18, 41, 0.6) 0%, transparent 17%, transparent), url("../img/mv-img.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }

#wrapper > .bg.fixed {
  position: fixed;
  width: 100vw;
  height: 100vh; }

.about-section {
  padding-top: 10rem;
  padding-bottom: 10rem; }
  .about-section .about-wrapper {
    width: calc(100% - 4rem);
    max-width: 72rem;
    z-index: 2; }
  .about-section h1 {
    color: #fff;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
    pointer-events: auto;
    border-style: solid;
    border-color: #ffffff;
    border-width: 5px !important;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 2.25rem;
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 1;
    padding: 1rem 1.75rem;
    visibility: visible; }
  .about-section h6, .about-section h6 a {
    color: #fff;
    position: relative;
    z-index: 3; }
  .about-section .img-bg {
    background-image: url("../img/subheading.jpg");
    background-size: cover; }
  .about-section .nav-item .nav-link {
    border: none;
    padding: 18px 25px;
    color: #fff;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 0; }
  .about-section .nav-item .nav-link.active {
    border: none;
    padding: 18px 25px;
    color: #1e252d;
    background: #fff;
    border-radius: 0; }
  .about-section .tab-content {
    background: #fdfdfd;
    line-height: 25px;
    padding: 30px 0; }
  .about-section .background-tab section {
    width: 100%;
    height: 100%; }
  .about-section .background-tab article.accordion {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #666;
    overflow: auto;
    border-radius: 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3); }
  .about-section .background-tab article.accordion section {
    position: relative;
    display: block;
    float: left;
    width: 2em;
    height: 20em;
    margin: 0.5em 0 0.5em 0.5em;
    color: #333;
    background-color: #333;
    overflow: hidden;
    border-radius: 0; }
  .about-section .background-tab article.accordion section h2 {
    position: absolute;
    font-size: 1.5em;
    font-weight: bold;
    width: 12em;
    height: 4em;
    top: 12em;
    left: 0;
    text-indent: 1em;
    padding: 0;
    margin: 0;
    color: #ddd;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .about-section .background-tab article.accordion section h2 a {
    display: block;
    width: 100%;
    line-height: 1.5em;
    text-decoration: none;
    color: inherit;
    outline: 0 none; }
  .about-section .background-tab article.accordion section:target {
    width: 90%;
    height: 100%;
    padding: 0 1em;
    color: #333;
    background-color: #fff; }
  .about-section .background-tab article.accordion section:target h2 {
    position: static;
    font-size: 1.3em;
    text-indent: 0;
    color: #333;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  .about-section .background-tab article.accordion section,
  .about-section .background-tab article.accordion section h2 {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }

.contact-section {
  padding: 5rem 0 0; }
  .contact-section .card {
    border: 0;
    border-bottom: 0.25rem solid #1c50c7; }
    .contact-section .card h4 {
      font-size: 0.8rem;
      font-family: 'Varela Round';
      text-transform: uppercase;
      letter-spacing: 0.15rem; }
    .contact-section .card hr {
      border-color: #1c50c7;
      border-width: 0.25rem;
      width: 3rem; }
  .contact-section .social {
    margin-top: 5rem; }
    .contact-section .social a {
      text-align: center;
      height: 3rem;
      width: 3rem;
      background: rgba(227, 234, 250, 0.1);
      border-radius: 100%;
      line-height: 3rem;
      color: rgba(227, 234, 250, 0.3); }
      .contact-section .social a:hover {
        color: rgba(227, 234, 250, 0.5); }
      .contact-section .social a:active {
        color: #e3eafa; }

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em; }

ul {
  list-style-type: none;
  padding: 0; }

.bg-black {
  background-color: #071229 !important; }

.bg-trueblack {
  background-color: #000 !important; }

.bg-primary {
  background-color: rgba(23, 54, 128, 0.8) !important; }

.text-primary {
  color: #173680 !important; }

.dropshadow {
  -webkit-filter: drop-shadow(3px 1px 3px rgba(0, 0, 0, 0.2));
  -moz-filter: drop-shadow(3px 1px 3px rgba(0, 0, 0, 0.2));
  -ms-filter: drop-shadow(3px 1px 3px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(3px 1px 3px rgba(0, 0, 0, 0.2)); }

footer {
  padding: 5rem 0; }

/*# sourceMappingURL=style.css.map */
