
#wrapper > .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212931;
  background: linear-gradient(to bottom, #{fade-out($black, .6)} 0%,#{fade-out($black, .2)} 75%,$black 99%), linear-gradient(to bottom, #{fade-out($black, .4)} 0%,transparent 17%,transparent), url('../img/mv-img.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
      // background-attachment: scroll,scroll,scroll;
      // z-index: -1;
    }

    #wrapper > .bg.fixed {
      position: fixed;
      width: 100vw;
      height: 100vh;
    }

    .about-section {
      padding-top: 10rem;
      padding-bottom: 10rem;


      .about-wrapper{
        width: calc(100% - 4rem);
        max-width: 72rem;
        z-index: 2;
      }

h1{
  color: #fff;
  transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
  pointer-events: auto;
  border-style: solid;
  border-color: #ffffff;
  border-width: 5px !important;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 2.25rem;
  font-weight: 900;
  letter-spacing: 0.075em;
  line-height: 1;
  padding: 1rem 1.75rem;
  visibility: visible;

}
h6, h6 a{
  color: #fff;
  position: relative;
  z-index: 3;
}
.img-bg{
  background-image: url('../img/subheading.jpg');
  background-size: cover;

}

.nav-item .nav-link
{
  border: none;
  padding: 18px 25px;
  color:#fff;
  background: rgba(255, 255, 255, 0.25);
  border-radius:0;
}

.nav-item .nav-link.active
{
  border: none;
  padding: 18px 25px;
  color:#1e252d;
  background:#fff;
  border-radius:0;
}

.tab-content{
  background: #fdfdfd;
  line-height: 25px;
 padding:30px 0;
  }

.background-tab{

section{
  width:100%;
  height:100%;
}

article.accordion
{
  display: block;
  width: 100%;
  height:100%;
  margin: 0 auto;
  background-color: #666;
  overflow: auto;
  border-radius: 0;
  box-shadow: 0 3px 3px rgba(0,0,0,0.3);
}

article.accordion section
{
  position: relative;
  display: block;
  float: left;
  width: 2em;
  height: 20em;
  margin: 0.5em 0 0.5em 0.5em;
  color: #333;
  background-color: #333;
  overflow: hidden;
  border-radius: 0;
}

article.accordion section h2
{
  position: absolute;
  font-size: 1.5em;
  font-weight: bold;
  width: 12em;
  height: 4em;
  top: 12em;
  left: 0;
  text-indent: 1em;
  padding: 0;
  margin: 0;
  color: #ddd;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

 article.accordion section h2 a
{
  display: block;
  width: 100%;
  line-height: 1.5em;
  text-decoration: none;
  color: inherit;
  outline: 0 none;
}

article.accordion section:target
{
  width: 90%;
  height:100%;
  padding: 0 1em;
  color: #333;
  background-color: #fff;
}

article.accordion section:target h2
{
  position: static;
  font-size: 1.3em;
  text-indent: 0;
  color: #333;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
article.accordion section,
article.accordion section h2
{
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}



}// /background-tab


}
