#wrapper > .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(to bottom, #{fade-out($white, .99)} 0%,#{fade-out($black, .9)} 75%,$black 99%), linear-gradient(to bottom, #{fade-out($black, .4)} 0%,transparent 17%,transparent), url('../img/mv-img.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
      // background-attachment: scroll,scroll,scroll;
      z-index: -1;
    }



// Top共通の設定

section{
  margin-bottom: 7rem;
        @media(max-width: 768px) {
margin-bottom: 4rem;
      }
}
   section h1{
  color: #fff;
  transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
  pointer-events: auto;
  border-style: solid;
  border-color: #ffffff;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  visibility: visible;

  border-width: 2px !important;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 0.9;
  padding: 0.5rem 1rem;

/*  Tb PC  */
@media screen and (min-width: 992px) {
    border-width: 5px !important;
  font-size: 2.25rem;
  font-weight: 900;
  letter-spacing: 0.075em;
  line-height: 1;
  padding: 1rem 1.75rem;
}


}// /↑Top共通の設定



// masthead

    .masthead {
      position: relative;
      width: 100%;
      height: auto;
      min-height: 35rem;
      padding: 15rem 0;

     .masthead h1 {
        background: -webkit-linear-gradient(fade-out(white, 0.1), fade-out(white, 1));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        border-style: none;
      }
      h2 {
        max-width: 13rem;
        font-size: .6rem;
      }


      #masthead-arrow a {
        padding-top: 60px;
      }
      #masthead-arrow a span {
        position: absolute;
        top: 0;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb04 2s infinite;
        animation: sdb04 2s infinite;
        box-sizing: border-box;
      }

      .arrow a {
        position: absolute;
        bottom: 20px;
        left: 50%;
        z-index: 2;
        display: inline-block;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        color: #fff;
        font : normal 400 20px/1 'Josefin Sans', sans-serif;
        letter-spacing: .1em;
        text-decoration: none;
        transition: opacity .3s;
      }
      .arrow a:hover {
        opacity: .5;
      }



      @-webkit-keyframes sdb04 {
        0% {
          -webkit-transform: rotate(-45deg) translate(0, 0);
        }
        20% {
          -webkit-transform: rotate(-45deg) translate(-10px, 10px);
        }
        40% {
          -webkit-transform: rotate(-45deg) translate(0, 0);
        }
      }
      @keyframes sdb04 {
        0% {
          transform: rotate(-45deg) translate(0, 0);
        }
        20% {
          transform: rotate(-45deg) translate(-10px, 10px);
        }
        40% {
          transform: rotate(-45deg) translate(0, 0);
        }
      }


      @media(min-width: 768px) {
        h1 {
          font-size: 4rem;
          line-height: 4rem;
        }
        h2 {
          max-width: 30rem;
          font-size: 0.7rem;
        }
      }
      @media(min-width: 992px) {
        height: 100vh;
        padding: 0;
        h1 {
          font-size: 6.5rem;
          line-height: 6.5rem;
          letter-spacing: 0.8rem;
        }
        h2 {
          max-width: 43rem;
          font-size: 1rem;
        }
      }
    }// /masthead

/*news-section*/
.news-section {
  .cat-item {
    .meta-block {
      margin-bottom: 7px;
      a {
        color: #fd6b4e !important;
      }
    }
    .list-inline {
      margin-bottom: 7px;
    }
    p {
      font-size: 14px;
    }
    .read-more {
      font-weight: 600;
    }
  }// news-section
}

        .section-wrapper{
  background: #fdfdfd;
  line-height: 25px;
 padding:70px;


      @media screen and (max-width: 768px) {
        width: calc(100% - 1.5rem);
        max-width: 72rem;
       // z-index: 1;
        .new-article-wrapper h3 {
          font-size:1rem;
          margin-bottom: 0;
        }
        .list-inline-item {
    font-size: .5rem;
}
padding:20px;

      }


      @media screen and (min-width: 992px) {
        width: calc(100% - 4rem);
        max-width: 72rem;
        // z-index: 2;
        h3 {
          font-size:1.5rem;

        }
      }
    }// news-section

/*notes-section*/

.notes-section{
// @import "bourbon";

@mixin background-cover{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.accordion--home{
  margin: 0;
  padding: 0;

  // @include clearfix;
  width: 100%;
  img{
    display:block;max-width:100%;
  }
  li.slide{
    position: relative;
    width: calc(100%/4);
    display: block;
    overflow:hidden;
    float: left;
    transition: all 0.5s;
    height: 100vh;
    @include background-cover;
    &:after{
      content: "";
      display: none;
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,0.6);
      opacity: 0;
      left: 0;
      top: 0;
      transition: opacity 0.5s;
      z-index: 10;
      position: absolute;
    }
  }
  &:hover li.slide {
    width: calc(50%/3);
    &:after{
      opacity: 1;
      display: block;
    }
  }
  li.slide{
    img{
      display: block;
    }
    &:hover{
      width: 50%;
      &:after{
        opacity: 0;
        display: none;
      }
    }
  }
  .image--content{
    position: absolute;
    top: 60%;
    left: 0;
    text-align: center;
    width: 100%;
    display: block;
    h2{
      text-align: center;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      display: inline-block;
      line-height: 1;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
      &:before, &:after{
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        background-color: #fff;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
      }
      &:before{
        margin-bottom: 15px;
      }
      &:after{
        margin-top: 10px;
      }
      &:after{}
    }
    ul{
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        clear: right;
      }
    }
  }
}
//notes accordion

.accordion-group li {
  &:nth-child(4) {
    .accordion-overlay {
      background-color: #5AAED6;
      opacity: .8;
    }
    &.out .accordion-overlay {
      background-color: #5AAED6;
      opacity: 0;
    }
  }
  &:nth-child(3) {
    .accordion-overlay {
      background-color: #236b8d;
      opacity: .8;
    }
    &.out .accordion-overlay {
      background-color: #236b8d;
      opacity: 0;
    }
  }
  &:nth-child(2) {
    .accordion-overlay {
      background-color: #FF3A3A;
      opacity: .8;
    }
    &.out .accordion-overlay {
      background-color: #FF3A3A;
      opacity: 0;
    }
  }
  &:nth-child(1) {
    .accordion-overlay {
      background-color: #ed0000;
      opacity: .8;
    }
    &.out .accordion-overlay {
      background-color: #ed0000;
      opacity: 0;
    }
  }
}

a {
  color: inherit;
  &.active, &:active, &:focus, &:hover {
    color: inherit;
    text-decoration: none;
  }
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.site-outer {
  overflow: hidden;

  .site-inner {
    position: relative;
    margin: 0;
    padding: 0;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    &.slide-right {
      -webkit-transform: translate3d(250px, 0, 0);
      -moz-transform: translate3d(250px, 0, 0);
      transform: translate3d(250px, 0, 0);
    }
  }
}


.accordion-group {
  overflow: auto;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 100%;
  height: 700px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  li {
    cursor: pointer;
    position: relative;
    display: block;
    overflow: hidden;
    float: left;
    margin: 0;
    padding: 1.6em;
    list-style: none;
    width: 16.66666667%;
    height: inherit;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    h3 {
      position: relative;
      color: #FFF;
      text-transform: uppercase;
      letter-spacing: .15rem;
      padding: 0;
      font-weight: 300;
      margin: 6.5rem 0 0;
    }
    .accordion-overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      -webkit-transition: all 250ms ease-in-out;
      -moz-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out;
    }
    section {
      display: table;
      width: 75%;
      height: auto;
      margin: 0 auto;
      min-height: 100%;
      &.big-section {
        width: 100%;
      }
      article {
        display: table-cell;
        vertical-align: middle;
        padding: 4rem;
        position: relative;
        right: -200%;
        -webkit-transition: all 250ms ease-in-out;
        -moz-transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out;
        p {
          background-color: rgba(255, 255, 255, 0.2);
          padding: 1.6rem;
          color: #fff;
          font-size: 1.6rem;
          letter-spacing: .15rem;
          &:before, &:after {
            content: "";
            display: block;
            height: 1px;
          }
        }
      }
    }
    &.out {
      width: 50%;
      section article {
        right: 0;
      }
    }
  }
}



@media (max-width: 767px) {
  .accordion-group {
    height: 360px;
    float: left;
    li h3 {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      transform: rotate(-90deg);
      width: 2.5rem;
      padding: 0;
      margin: 10rem 0;
    }
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@-moz-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


// /notes accordion
}


//about-section

.top-about-section{

  h6{
    color:$text;
  }
.fa-twitter {color: $color-base}
.fa-soundcloud {color: $white}
.fa-youtube {color: $ghostwhite}
.fa-apple {color: $text}
.fa-android {color: $black}
.fa-comment {color: $trueblack}
.fa-play {color: $primary}
.fa-music {color: $lightblue}
.fa-qq {color: $darkblue}
.fa-facebook {color: $bluegray}
.fa-bell {color: $lightgray}
.fa-folder {color: $darkgray}
.fa-circle {color: $sand}
}
