@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');

@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700,800');

@import url('../css/font-awesome.min.css');


@import 'variables.scss';
@import 'lightbox.min.scss';
@import 'lity.min.scss';
@import 'slidebars.scss';
@import 'loaders.scss';
@import 'gallery.scss';
@import 'header.scss';







/*BLog-Home-section 1*/
.section-01 {
  /*border-bottom: 1px solid #d5d5d5;
  border-top: 1px solid #d5d5d5;*/
  .heading-large {
    &::before, &::after {
      background: transparent none repeat scroll 0 0;
    }
    border-bottom: 2px solid #222;
    color: #222;
    float: left;
    margin: 0 0 18px;
    padding: 0 0 6px;
    text-align: left;
    width: 100%;
  }
  .card {
    border: medium none;
  }
  .card-body {
    padding: 0;
  }
  .title-small {
    font-size: 17px;
    margin-bottom: 5px;
    font-weight: 600;
  }
  p {
    font-size: 13px;
    margin-bottom: 0;
  }
  .side-bar .nav-tabs {
    border-bottom: medium none;
    margin-top: 20px;
    .nav-link {
      border: medium none;
      color: #aeaeae;
      text-transform: uppercase;
      &.active, &:hover {
        border-bottom: 2px solid #ff0000;
        color: #222;
        text-transform: uppercase;
      }
    }
  }
  .feautured-title {
    border-bottom: 2px solid #222;
    color: #222;
    font-size: 22px;
    margin: 30px 0 0;
    padding-bottom: 10px;
    width: 100%;
  }
  .sidebar-tabing {
    .media {
      margin-top: 20px;
    }
    img {
      height: 100px;
      width: 120px;
    }
    .title-small {
      margin-top: 5px;
      font-weight: 600;
      font-size: 15px;
    }
  }
  .video-sec {
    float: left;
    margin-top: 30px;
    width: 100%;
  }
  .heading-small {
    border-bottom: 2px solid #222;
    color: #222;
    float: left;
    font-size: 18px;
    margin: 7px 0 0;
    padding-bottom: 10px;
    width: 100%;
  }
  .video-block {
    float: left;
    margin-top: 20px;
    width: 100%;
  }
}

// blog共通設定

#wrapper {
  color: #5a5a5a;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.img-fluid {
  object-fit: cover;
}

.sticky {
  position: -webkit-sticky;
  /* Safariに対応する */
  position: sticky;
  /* 要素を固定/解除する */
  top: 0;
  /* 縦方向の閾値 */
  z-index: 1000;
}

/*Loader Style*/

.loaders {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  .loader {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
    height: 200px;
    align-items: center;
    justify-content: center;
  }
}

.loader {
  display: table;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1200;
}

.loader-bg {
  background: #fff;
}

.loader-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/*Blog Top*/
h1, h2, h3, h4, h5 {
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-family: 'Montserrat', sans-serif;
}

a {
  outline: none !important;
  text-decoration: none;
  &:hover {
    outline: none !important;
    text-decoration: none;
  }
}

.btn {
  outline: none !important;
  text-decoration: none;
  border-radius: 0;
}

.title-small {
  color: #141517;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin: 6px 0 0;
}

.title-large {
  color: #141517;
  font-size: 20px;
  line-height: 27px;
  margin: 10px 0 5px;
  a {
    color: inherit;
  }
}

.title-small a, .title-x-small a {
  color: inherit;
}

.title-large a {
  &:hover, &:focus {
    color: #545454;
  }
}

.title-small a {
  &:hover, &:focus {
    color: #545454;
  }
}

.title-x-small a:focus {
  color: #545454;
}

.heading-large {
  color: #222;
  float: none;
  font-size: 28px;
  font-weight: 700;
  margin: 0 auto 30px;
  padding: 0 10px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 45%;
  &::before {
    background: #222 none repeat scroll 0 0;
    content: "";
    height: 3px;
    left: -25%;
    position: absolute;
    top: 43%;
    width: 100px;
  }
  &::after {
    background: #222 none repeat scroll 0 0;
    content: "";
    height: 3px;
    position: absolute;
    right: -25%;
    top: 43%;
    width: 100px;
  }
}

.sub-header {
  float: left;
  width: 100%;
  padding: 40px 0;
  position: relative;
  z-index: 1;
  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    z-index: 1;
    content: '';
  }
  h1 {
    color: #fff;
    position: relative;
    z-index: 3;
  }
  h6 {
    color: #fff;
    position: relative;
    z-index: 3;
    a {
      color: #fff;
      position: relative;
      z-index: 3;
    }
  }
  &.img-bg {
    background-image: url('../img/subheading.jpg');
    background-size: cover;
  }
}

.text-time {
  color: #ff0000;
  font-weight: 600;
}

.badge-danger {
  background-color: #fd3a13;
}

.btn-submit {
  background-color: #fd6b4e;
  color: #fff;
  &:hover {
    background-color: #e65437;
  }
}

.bg-light {
  background-color: #F6F6F6 !important;
}

.sticky-label {
  position: sticky;
  top: 0;
}

.text-primary {
  color: #fd6b4e !important;
}

a.text-primary {
  color: #fd6b4e !important;
  &:hover, &:focus {
    color: #fd6b4e !important;
    text-decoration: underline;
  }
}

/*Category Page 記事一覧*/
.cat-listing {
  .cat-item {
    img {
      width: 40%;
    }
    .meta-block {
      margin-bottom: 7px;
      a {
        color: #fd6b4e !important;
      }
    }
    .list-inline {
      margin-bottom: 7px;
    }

    p {
      font-size: 14px;
    }
    .read-more {
      font-weight: 600;
    }
  }


  /*Category Page 記事一覧のペジグネーション*/
  .pagination {
    .page-item {
      &:first-child .page-link, &:last-child .page-link {
        background-color: #FD6B4E;
        color: #fff;
        border-radius: 0;
      }
    }
    .page-link {
      border: 1px solid #FD6B4E;
      color: #FD6B4E;
      &:hover, &:focus {
        background-color: #FD6B4E;
        color: #fff;
      }
    }
    .page-item {
      margin: 0 3px !important;
    }
  }
}



  /*Category Page 記事一覧のペジグネーションのマザー*/
//   .pagination {
//     .page-item {
//       &:first-child .page-link, &:last-child .page-link {
//         background-color: #FD6B4E;
//         color: #fff;
//         border-radius: 0;
//       }
//     }
//     .page-link {
//       border: 1px solid #FD6B4E;
//       color: #FD6B4E;
//       &:hover, &:focus {
//         background-color: #FD6B4E;
//         color: #fff;
//       }
//     }
//     .page-item {
//       margin: 0 3px !important;
//     }
//   }
// }


/*  SP スマホ only  */
// @media screen and (max-width: 992px) {



// }


/*Sidebar Post 記事一覧の右側*/

.post-side-bar {
  margin-top: 20px;
  .side-bar {
    float: left;
    margin-bottom: 30px;
    width: 100%;
  }
  .ad-block {
    background-color: #F6F6F6;
    .dummy-small {
      border: 5px solid #fd6b4e;
      color: #fd6b4e;
      float: left;
      font-size: 26px;
      font-weight: 700;
      line-height: 29px;
      padding: 60px 30px;
      text-align: center;
      width: 100%;
    }
    .dummy-long {
      float: left;
      padding: 280px 0;
      text-align: center;
      width: 100%;
      font-size: 26px;
      font-weight: 700;
      line-height: 29px;
    }
  }
  h4 {
    color: #fd6b4e;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .card {
    border: none;
  }
  .title-small {
    font-size: 16px;
  }
  .sidebar-tabing img {
    height: 100px;
    width: 120px;
  }
  .nav-tabs .nav-link {
    &.active, &:hover {
      border-bottom: 2px solid #ff0000;
      color: #222;
      text-transform: uppercase;
    }
    border: medium none;
    color: #aeaeae;
    text-transform: uppercase;
  }
  .sidebar-tabing .media {
    margin-top: 20px;
  }
  .nav {
    flex-wrap: no-wrap !important;
  }
  .news-title a {
    color: #141517;
  }
  h2 {
    font-size: 16px;
    margin-top: 15px;
  }
  .tabing-block .title-small {
    font-size: 14px;
  }
  .card-img-overlay {
    padding: 4px 7px;
  }
}




// 共通設定

[class*=js-] {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}


// .bg-black {
//   background-color: $black !important;
// }

// .bg-trueblack {
//   background-color: $trueblack !important;
// }

.bg-primary {
  background-color: transparentize($darkblue, 0.2) !important;
}

.text-primary {
  color: $darkblue !important;
}

.dropshadow {
  -webkit-filter: drop-shadow(3px 1px 3px rgba(0, 0, 0, 0.2));
  -moz-filter: drop-shadow(3px 1px 3px rgba(0, 0, 0, 0.2));
  -ms-filter: drop-shadow(3px 1px 3px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(3px 1px 3px rgba(0, 0, 0, 0.2));
}

footer {
  padding: 5rem 0;
}